footer {
  border-top: 4px bisque solid;
  height: 35px;
  position: sticky;
  bottom: 0;

  background-image: url("../images/banner.png");

  .envolvente {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 228, 196, 0.6);
    padding: 0px 15px 0px 15px;
    height: 100%;

    i {
      font-size: 26px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
